.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(230px, 1fr));
    gap:30px;
    margin: 80px auto;
    padding: 0 20px;
}


.h1{
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  padding: 50px 30px
}