.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./images/suculentas-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  padding: 0 80px;
  color: white;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width:500px;
}