body {
  margin: 0;
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}


h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 500;
}


p {
  line-height: 1.6;
}


* {
  box-sizing: border-box;
}


