body {
  margin: 0;
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
}


h1, h2, h3 {
  font-family: var(--font-title);
  font-weight: 500;
}


p {
  line-height: 1.6;
}


* {
  box-sizing: border-box;
}


.addButton{

margin: 5px auto;

width:calc(100% - 90px);

padding:8px 4px;

border:none;

border-radius:999px;

background:var(--primary-soft);

font-size:1.2rem;

display:flex;

justify-content:center;

align-items:center;

gap:15px;

cursor:pointer;

}



.addButton:hover{

transform:translateY(-2px);

}